In [ ]:
%reload_ext streamingcli.jupyter.integrations

In [ ]:
mysql_table_name = 'datagen'

In [ ]:
%%flink_execute_sql
CREATE TABLE datagen (
    id INT
) WITH (
    'connector' = 'datagen',
    'number-of-rows' = '${MY_ENV_VARIABLE}'
)

In [ ]:
%%flink_execute_sql
CREATE TABLE mysql (
    id INT
) WITH (
    'connector' = 'jdbc',
    'url' = 'jdbc:mysql://localhost:3306/mydatabase',
    'table-name' = '{mysql_table_name}',
    'username' = '${MYSQL_USER}',
    'password' = '${  MYSQL_PASSWORD }'
)

In [ ]:
%%flink_execute_sql
INSERT INTO mysql (SELECT * FROM datagen)